<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Factory Pattern-->
    <add key="WinDAL" value="PCSistel.SQLServerDAL" />
    <!--Conexion Remoting-->
    <add key="servidorRemoting" value="c+WAX/Wd4NoOfPHt13LJmgA=" />
    <add key="puerto" value="3vN9yu3QMxAA" />
    <!--Servicios de remoting-->
    <add key="servicioPuertoCaptura" value="puertocaptura" />
    <add key="servicioAlertasCaptura" value="alertascaptura" />
    <add key="servicioSeguridadCaptura" value="seguridadcaptura" />
    <add key="servicioRutasCaptura" value="rutascaptura" />
    <add key="servicioMensajeria" value="mensajeria" />
    <add key="servicioVisor" value="visor" />
    <add key="servicioFestivos" value="festivos" />
    <add key="servicioWeb" value="web" />
    <add key="servicioRutasCapturaCCM" value="rutascapturaccm" />
    <add key="servicioCapturaCCM" value="capturaccm" />
    <add key="servicioServidorCapturaCCM" value="servidorcapturaccm" />
    <add key="servicioRegistroCapturaCCM" value="registrocapturaccm" />
    <add key="servicioPlantillaCapturaCCM" value="plantillacapturaccm" />
    <!--Componente de correo-->
    <!--General-->
    <add key="tiempoEspera" value="600" />
    <add key="limiteReintentos" value="5" />
    <add key="proveedorCorreo" value="CSmtp" />
    <add key="correoAlternativo" value="farenas@pcsistel.com" />
    <add key="correo_manteneracentos" value="1" />
    <add key="correo_resolverdirecciones" value="1" />
    <add key="correo_confirmarrecepcion" value="1" />
    <add key="correo_activarlog" value="1" />
    <add key="correo_objnotes" value="1" />
    <add key="correo_DetalleLlamadaCredito" value="1" />
    <!--MAPI-->
    <add key="perfilNombreMAPI" value="mpajuelo" />
    <add key="perfilPasswordMAPI" value="" />
    <add key="servidorMAPI" value="SRVMAIL" />
    <add key="carpetaMAPI" value="Lista Global de Direcciones" />
    <add key="libretaMAPI" value="" />
    <!--LOTUS-->
    <add key="perfilPasswordLotus" value="RtDp3pE//EsA" />
    <add key="servidorLotus" value="SERVIDOR LOTUS" />
    <add key="versioncorreo" value="6.1" />
    <!--SMTP-->
    <add key="deSMTP" value="gvasquez@pcsistel.com" />
    <add key="servidorSMTP" value="130.1.7.16" />
    <add key="puertoSMTP" value="587" />
    <add key="autenticacionSMTP" value="0" />
    <add key="usuarioSMTP" value="" />
    <add key="passwordSMTP" value="" />
    <add key="enableSSL" value="0" />
    <!--Componente de excepciones-->
    <add key="destinatarioSoporte" value="farenas@pcsistel.com" />
    <add key="EnviarCorreoAnteError" value="0" />
    <add key="EscribirEventViewer" value="1" />
    <!--Componente de correo para Imp Datos-->
    <!--General-->
    <add key="tiempoEspera_ImpDatos" value="600" />
    <add key="limiteReintentos_ImpDatos" value="5" />
    <add key="proveedorCorreo_ImpDatos" value="CMapi" />
    <add key="correoAlternativo_ImpDatos" value="Administrador" />
    <!--MAPI-->
    <add key="perfilNombreMAPI_ImpDatos" value="outlook" />
    <add key="perfilPasswordMAPI_ImpDatos" value="" />
    <add key="servidorMAPI_ImpDatos" value="srvcorreo" />
    <add key="carpetaMAPI" value="Lista Global de Direcciones" />
    <add key="libretaMAPI" value="" />
    <!--LOTUS-->
    <add key="perfilPasswordLotus_ImpDatos" value="RtDp3pE//EsA" />
    <add key="servidorLotus_ImpDatos" value="SERVIDOR LOTUS" />
    <add key="versioncorreo_ImpDatos" value="6.1" />
    <!--SMTP-->
    <add key="deSMTP_ImpDatos" value="cuenta@correo.com" />
    <add key="servidorSMTP_ImpDatos" value="000.000.000.000" />
    <!--Consultas y Reportes-->
    <add key="tablaLlamadas" value="dju0cJA/I7YA" />
    <add key="tablaTemporalLlamadas" value="faH63kCCHYjf+G1z1nAp1gA=" />
    <add key="timeoutQuery" value="1800" />
    <!--Consultas y Reportes - Sumarios,Resumen,Estadistico,Historico -->
    <add key="MesesConsultar1Rango" value="2" />
    <add key="MesesConsultar2Rango" value="5" />
    <add key="MesesConsultar3Rango" value="11" />
    <!--Base de Datos-->
    <add key="Provider" value="SQL" />
    <add key="DataSource" value="iNJCGdg0g+wlxej2w54JOLJlB1gTvcoUAA==" />
    <add key="InitialCatalog" value="iNiujbrK1gOvqJKuHNlMUmtXjIXePgbM7lrjcnpj1uPzsziiipVdaAA=" />
    <add key="Sspi" value="MfMzYCt4ro4A" />
    <add key="UserId" value="xZ4Yts76FXaOcM1cb7G8nwA=" />
    <add key="Password" value="xZ4Yts76FXaOcM1cb7G8nwA=" />
    <add key="timeoutConnection" value="30" />
    <add key="IntentosReconexion" value="8" />
    <!--valores para módulo de Seguridad -->
    <add key="CodGrupoAdministrador" value="0" />
    <add key="CodGrupoPorDefecto" value="1" />
    <add key="CodPoliticaSSPI" value="7" />
    <!--Consulta Web-->
    <add key="rutaExportacion" value="\GraficosExpotados\" />
    <!--valores temporales, que luego seran devueltos por la BD.-->
    <add key="NroMeses" value="12" />
    <add key="diaCorte" value="5" />
    <add key="texto" value="Tome en cuenta que los números de tipo Indagar se tomarán como personales" />
    <!--Validacion de Espacio en Disco.-->
    <add key="ActivaEspacio" value="True" />
    <add key="Unidad" value="c:" />
    <add key="EspacioMb" value="2000" />
    <add key="Decimales" value="2" />
    <!--Configuracion Regional -->
    <add key="LongitudCortaDecimales" value="4" />
    <add key="LongitudLargaDecimales" value="4" />
    <!--valores para módulo Crédito de Consumo -->
    <add key="VistaBusqueda" value="por tipo" />
    <add key="Ordenamiento" value="por codigo" />
    <add key="VisualizacionMensaje" value="1" />
    <!--valores para módulo Contel -->
    <add key="MostrarContel" value="NO" />
    <add key="ProviderContel" value="SQL" />
    <add key="DataSourceContel" value="iNJCGdg0g+wWqHlbo3DAgDyPjUdvqtpcAA==" />
    <add key="InitialCatalogContel" value="Kye9rv+kzmpNSOm59po/EgA=" />
    <add key="SspiContel" value="MfMzYCt4ro4A" />
    <add key="UserIdContel" value="GLRsIMrOkEwA" />
    <add key="PasswordContel" value="KvZElQPjCdZek1jsloUOmgA=" />
  </appSettings>
</configuration>