<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="accesoSQL" connectionString="AsDp+0N4PPAMov6iRRg+bMVd45WuW2R4l2XABWFT2ZWFcf5HGai54xIYgblz1yDkxPH695WW0gjRmhXRqPu+OhDEJLlrloOc8wxmgImaYDm0mm+/596SuNjCSGwZZig5bG6wDc1NFTrXevGx/7YNQe/lAmlnrbaU6NUIyDbXL76vBuiAzNCW+KF7kbrUkQrLAA==" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Basic Bolsa Temporal-->
    <add key="DominioPorDefecto" value="" />
    <add key="EsBasicBolsa" value="0" />
    <add key="ProductoDestino" value="0" />
    <add key="IdPortal" value="1" />
    <add key="ModoCloud" value="0" />
    <add key="pathPCSistelAdmin" value="http://localhost:52888" />
    <add key="pathLogPCSistel" value="http://130.1.7.205/PCSistelLog" />
    <add key="ProductoRelease" value="Versión 3.3.0.30" />
    <add key="NombreProducto" value="Gestión Móvil" />
    <add key="GenerarLog" value="0" />
  </appSettings>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <sessionState cookieless="UseCookies" />
      <httpRuntime targetFramework="4.5.1" enableVersionHeader="false" executionTimeout="1200" shutdownTimeout="1200" maxRequestLength="103424" />
      <compilation targetFramework="4.5" debug="true" />
      <pages>
        <namespaces>
          <add namespace="System.Web.Helpers" />
          <add namespace="System.Web.Mvc" />
          <add namespace="System.Web.Mvc.Ajax" />
          <add namespace="System.Web.Mvc.Html" />
          <add namespace="System.Web.Optimization" />
          <add namespace="System.Web.Routing" />
          <add namespace="System.Web.WebPages" />
        </namespaces>
      </pages>
      <!--mpajuelo_20211109-->
      <httpCookies requireSSL="true" />
    </system.web>
  </location>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--mpajuelo_20211109-->
        <clear />
        <remove name="X-Powered-By" />
        <remove name="X-UA-Compatible" />
        <add name="X-UA-Compatible" value="IE=edge" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
        <add name="X-XSS-Protection" value="1; mode=block"></add>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Strict-Transport-Security" value="max-age=31536000"/>
        <!--<add name="Content-Security-Policy" value= "script-src 'unsafe-inline' 'unsafe-eval' https://qa.pcsistel.com; style-src 'self' 'unsafe-inline'" />-->
        <!--<add name="Content-Security-Policy" value="default-src 'self'" />-->
        
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GeneralSoap" />
        <binding name="GeneralPortalSoap" textEncoding="utf-8" messageEncoding="Text" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServiceDominio" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="WSHttpBinding_IServiceDominioHTTPS" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50276/ServiceDominio.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceDominio" contract="ServiceDominio.IServiceDominio" name="WSHttpBinding_IServiceDominio">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAHxet+H2XYIMEo7eTkQ13GM9hGgogAAAAAQAAAFMCAAAwggJPMIIB/aADAgECAhAvFO3oXI2Li079muCA2DJTMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwMTI5MjIxOTU1WhcNMzkxMjMxMjM1OTU5WjAuMSwwKgYDVQQDEyNWaXN1YWxTb2Z0LlBDU2lzdGVsTW92aWwuV0NGRG9taW5pbzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKsQnG2p+vG8mupxp1OaUwg1qXevItdnY64YGhHN132HHZDIYv5lgTggtltY278DXlMTciBO+5WNMi+kbeuPmM77Wt3oYOblE50Uak4Ak60g7ItiOrRVwUoD69cjsXwhH4DhPd7k450cMUvxtEPSwzhvjF1YSpJBvOAk1EMYQ7WovYVMc49BYhzEPNAGKsEyCJi90HnlUzAZM/1WnfueFGX7XWwp99q6Hc1UjyMWSpl4eoWqVZbpqZe/RoV/Io/HO0JZvM0DRrL4gVLxcN7u/DvOkkfWTCtKwdO0gBzslBCRNOa22el20Rtrvu8VWM2XkeQwlGzz0Xt6iVSNZgwvYJcCAwEAAaNLMEkwRwYDVR0BBEAwPoAQEuQJLQYdHU8AjWEh3BZkY6EYMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5ghAGN2wAqgBkihHPuNSqXDX0MAkGBSsOAwIdBQADQQA+uKfcee9IDAiCWpnLda0z54lDry8TJBbFlwZZ2cNsk0JlG6NlafNHT19S+wP4dofQAw9oCAInI1iF/oc0tqF3" />
        </identity>
      </endpoint>
      <endpoint address="https://portalgestionmovil.pcsistel.com/AdminPCSistelMovil33/Common/WebService/General.asmx" binding="basicHttpBinding" bindingConfiguration="GeneralSoap" contract="ServiceMovil.GeneralSoap" name="GeneralSoap" />
      <endpoint address="http://localhost:57269/Common/WebServices/GeneralPortal.asmx" binding="basicHttpBinding" bindingConfiguration="GeneralPortalSoap" contract="ServiceMovil_Pedido.GeneralPortalSoap" name="GeneralPortalSoap" />
    </client>
  </system.serviceModel>
</configuration>