<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="LogErrores\Log_PCSistelMovilV2.0.log">
      </param>
      <param name="AppendToFile" value="true">
      </param>
      <datePattern value="ddMMyyyy" />
      <rollingStyle value="Date" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%-6p %d{dd/MM/yyyy HH:mm:ss.fff} [%t] %c.%M() - %m%n" />-->
        <conversionPattern value="%d{yyyy/MM/dd HH:mm:ss.fff},[%t],%-6p,%m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <logger name="Test">
      <level value="DEBUG">
      </level>
    </logger>
  </log4net>
  <connectionStrings>
    <add name="accesoSQL" connectionString="AsDp+0N4PPAG2EkUgyAVoJS7pAeS38SfT1ABffQasDypsn7fah77L4GTzuVSmqaaf+yGbJqMiOf6O0iIAq79C9fbVFXplY2nx2qf8Dip1M49dS214RXpLaQhAS2FjiKlueKIXeM+E2v7LWepTD7KWwO1hVINbSKiAA==" providerName="System.Data.SqlClient" />
    <add name="accesoSQLContingencia" connectionString="AsDp+0N4PPAG2EkUgyAVoHMgAh2SlsFck2YDtnWmqR1XthkNNtOMY4KP4K2XEuU4yyMGPBUWcGNxVqQPoJDDR30GHNXxeEBZ9v2DHriUi/eYNgDC8EUaOjQPQRqovl+trkq3Sy2udSja+gJYxGKW7e6zKqp16YCRF1twJ0U1xmoA" providerName="System.Data.SqlClient" />
    <add name="accesoOracle" connectionString="Data Source=130.1.7.87;User Id=system;Password=root;" providerName="System.Data.OracleClient" />
    <add name="MOVILNET_DATOS_DEVELOPConnectionString" connectionString="Data Source=130.1.7.21\sql2008;Initial Catalog=MOVILNET_DATOS_DEVELOP;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--<add key="IdCampana" value="24" />-->
    <!--<add key="DscPreventa" value="Se guardará su pedido para que cuando inicie la campaña, tenga sus caracteristicas listas para la compra. Esto no es una compra!!!" />-->
    <add key="RutaImportacion" value="P_Movil\Importacion\" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="ValidarLoginLDAP" value="0" />
    <add key="RutaLDAP" value="" />
    <add key="RutaLDAP_VISUALSOFT" value="LDAP://130.1.7.1/DC=domperu,DC=com" />
    <add key="PropiedadImagenUsuario" value="" />
    <!--thumbnailPhoto-->
    <add key="captcha" value="0" />
    <add key="recordarme" value="0" />
    <add key="Identificacion" value="$µ§¼ÿ/¶¢û+&lt;ß;+;¨;¨}" />
    <!--<add key="URLSitePCSistelMovil" value="http://srvcontrol/movilnet2admin" />-->
    <!--<add key="VerLinkWeb" value="1" />-->
    <!--<add key="VerBtnManual" value="1" />-->
    <!--<add key="TextLinkWeb" value="Equipos y Planes" />-->
    <!--<add key="TextBtnManual" value="Manual del Sistema" />-->
    <!--<add key="UrlLinkWeb" value="Planes_Nuevos.pdf" />-->
    <!--<add key="UrlBtnManual" value="Common/Documentos/" />-->
    <!--<add key="DocBtnManual" value="ManualCampana.pdf" />-->
    <!--<add key="mailTo" value="CuentaPcsistel@empresa.com" />-->
    <!--<add key="SubtituloChat" value="Consulta Rápida" />-->
    <!--<add key="TituloChat" value="Chat" />-->
    <!--<add key="SinAdministrador" value="Estimado usuario, por favor registre su ticket de atención en la opción 'Canal de Atención - Registrar Ticket' ." />-->
    <!--<add key="SinAdministradorDisponible" value="Estimado usuario, para ingresar este tipo de consulta por favor registre su ticket de atención en la opción 'Canal de Atención - Registrar Ticket' ." />-->
    <!--<add key="AdministradorSaturado" value="Estimado usuario, en estos momentos los operadores se encuentran ocupados." />-->
    <!--<add key="LimiteAtencionChat" value="100" />-->
    <!--<add key="MsjMantenerPlan" value="Sólo podrá seleccionar los equipos compatibles con su plan actual (Se redireccionará a la selección de equipos)" />-->
    <!--<add key="MsjCambiarPlan" value="Podrá seleccionar cualquier equipo (Se redireccionará a la selección de equipos)" />-->
    <add key="ModoTest" value="1" />
    <add key="ClaveTest" value="µº/¥æ¡¢«ò¿¨5~¿~{~{b" />
    <add key="Adjuntar_TamanoMaximoMB" value="10" />
    <add key="AdjuntarArchivo" value="1" />
    <!--<add key="FechaInicioCampana" value="19/06/2014" />-->
    <!--<add key="FechaInicioPedido" value="25/06/2014" />-->
    <!--<add key="FechaInicioEntrega" value="08/07/2014" />-->
    <add key="EsSimulacion" value="0" />
    <add key="Balancear" value="0" />
    <!--<add key="Consideraciones" value="* Para cambiar el lugar de entrega de su pedido, deberá hacerlo por nuestro Canal de Atención ingresando una nueva incidencia.||||* Si su renovación con equipo incluye el cambio de Sim Card, solicitar la activación del nuevo chip registrando un ticket en Canal de Atención.|" />-->
    <!--<add key="IpNode" value="130.1.7.78" />-->
    <add key="IpNodeBBVA" value="118.180.55.32" />
    <!--<add key="PuertoNode" value="5555" />-->
    <add key="IdDetalleTest" value="98567" />
    <add key="NombreProducto" value="Gestión Móvil - Pedidos" />
    <add key="ModoCloud" value="0" />
    <add key="keyPortal" value="LoginPortal" />
    <!--<add key="keyPortal" value="LoginPortalTDP"/>-->
    <add key="GlosaCreditoEquipo" value="glosaE" />
    <add key="GlosaCreditoServicio" value="glosaS" />
    <add key="PortabilidadClaro" value="0" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <machineKey validationKey="1234567890123456789012345678901234567890AAAAAAAAAA" decryptionKey="123456789012345678901234567890123456789012345678" validation="SHA1" decryption="Auto" />
    <httpRuntime enableKernelOutputCache="false" />
    <pages enableViewState="true" />
    <sessionState timeout="60" cookieless="AutoDetect">
    </sessionState>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Charts.v12.2.Core, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.PivotGrid.v12.2.Core, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v12.2.Core, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxGauges.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxScheduler.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxScheduler.v12.2.Design, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxThemes.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Xpo.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Xpo.v12.2.Web, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v12.2.Design, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v12.2.Extensions, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v12.2.UI, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v12.2.Web, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraEditors.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraGauges.v12.2.Core, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraGauges.v12.2.Presets, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraGrid.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraLayout.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPivotGrid.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPrinting.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPrinting.v12.2.Design, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Xpf.Grid.v12.2.Core, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Xpf.Grid.v12.2.Design, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Xpf.Grid.v12.2.Extensions, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v12.2, Version=12.2.18.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
    </compilation>
    <!--<authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>-->
    <authentication mode="Forms">
      <!--<forms name=".ASPXFORMSDEMO" loginUrl="login.aspx" defaultUrl="Index.aspx" cookieless="AutoDetect" protection="All" path="/" timeout="60" />-->
      <forms name=".ASPXFORMSDEMO" loginUrl="Login.aspx" defaultUrl="index.aspx" protection="All" path="/" timeout="30" />
    </authentication>
    <globalization culture="es-PE" uiCulture="es-PE" />
    <customErrors mode="Off">
    </customErrors>
    <httpModules>
      <!--<add type="VisualSoft.Comun.SeguridadWeb.VisualSoftAutenticacionModule" name="VisualSoftAutenticacionModule" />-->
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />-->
    </httpModules>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/json" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <clear />
        <!-- No need to expose the platform -->
        <remove name="X-Powered-By" />
        <!-- Do not show IE compatibility view -->
        <remove name="X-UA-Compatible" />
        <add name="X-UA-Compatible" value="IE=edge" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add type="VisualSoft.Comun.SeguridadWeb.VisualSoftAutenticacionModule" name="VisualSoftAutenticacionModule" />-->
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="Configuracion.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RestablecerContrasena.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pedido/Dashboard_pedido.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/Controladores/DescargarArchivo.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/Documentos/ManualCampana.pdf">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pedido/PedidoMirror.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CallNodeJS.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/Scripts/countdown.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/Scripts/socket.io.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Registrese.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/Scripts/Utilitario.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServiceDominio" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="WSHttpBinding_IServiceDominioHTTPS" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50276/ServiceDominio.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceDominio" contract="ServiceDominio.IServiceDominio" name="WSHttpBinding_IServiceDominio">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAHxet+H2XYIMEo7eTkQ13GM9hGgogAAAAAQAAAFMCAAAwggJPMIIB/aADAgECAhAvFO3oXI2Li079muCA2DJTMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwMTI5MjIxOTU1WhcNMzkxMjMxMjM1OTU5WjAuMSwwKgYDVQQDEyNWaXN1YWxTb2Z0LlBDU2lzdGVsTW92aWwuV0NGRG9taW5pbzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKsQnG2p+vG8mupxp1OaUwg1qXevItdnY64YGhHN132HHZDIYv5lgTggtltY278DXlMTciBO+5WNMi+kbeuPmM77Wt3oYOblE50Uak4Ak60g7ItiOrRVwUoD69cjsXwhH4DhPd7k450cMUvxtEPSwzhvjF1YSpJBvOAk1EMYQ7WovYVMc49BYhzEPNAGKsEyCJi90HnlUzAZM/1WnfueFGX7XWwp99q6Hc1UjyMWSpl4eoWqVZbpqZe/RoV/Io/HO0JZvM0DRrL4gVLxcN7u/DvOkkfWTCtKwdO0gBzslBCRNOa22el20Rtrvu8VWM2XkeQwlGzz0Xt6iVSNZgwvYJcCAwEAAaNLMEkwRwYDVR0BBEAwPoAQEuQJLQYdHU8AjWEh3BZkY6EYMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5ghAGN2wAqgBkihHPuNSqXDX0MAkGBSsOAwIdBQADQQA+uKfcee9IDAiCWpnLda0z54lDry8TJBbFlwZZ2cNsk0JlG6NlafNHT19S+wP4dofQAw9oCAInI1iF/oc0tqF3" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.28.0" newVersion="1.1.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>