
img{
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

#slider{
   margin: 0 auto;
}

#slider ul, #slider li,
#slider2 ul, #slider2 li{
	margin:0;
	padding:0;
	list-style:none;
}
#slider2{margin-top:1em;}

#slider li, #slider2 li{ 
	width:600px;
	height:230px;
	overflow:hidden; 
	top: 0;
}

#prevBtn, #nextBtn,
#slider1next, #slider1prev{ 
	display:block;
	width:43px;
	height:45px;
	position:absolute;
	top:50%;
	z-index:1000;
}

#slider-wrapper {
	position: relative;
}



