@model VisualSoft.PCSistelMovil.CentralIncidencias.MVVM.MVVM_RestablecerPass
@{ 
    ViewBag.Title = "RestPass";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<style type="text/css">
</style>
<script type="text/javascript"> 
</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
